header
	position fixed
	bottom $padding
	right $padding
	font-size 1rem
	z-index 300
	+below($md)
		bottom ($padding/2)
		right ($padding/2)
	h1
		display none
	nav
		svg
			display block
			height 0.7rem
			padding-top 0.05rem
		ul
			display inline-flex
			li:not(:last-child)
				margin-right 1em
			.active
				display none