header
	position fixed
	bottom $padding
	right $padding
	font-size 1rem
	z-index 300
	h1
		display none
	nav
		ul
			display inline-flex
			li:not(:last-child)
				margin-right 1em
			.active
				display none