#back
	font-size 1.5rem
	line-height 1
	position fixed
	padding $padding
	top 0
	right 0
	z-index 300
	&::after
		content '\002190'

#about
	margin-bottom 1em

#press
	font-size 1rem
	line-height 1
	.title
		margin-right 3em

#credits
	margin-top 1em
	font-size 1rem
	line-height 1
	display flex
	flex-wrap wrap
	div
		margin-right 1em

#casting
	.casting-item
		.image
			z-index 10
			+above($md + 1)
				align()
				width 25vw
				position fixed
				pointer-events none
				display none
			+below($md)
				margin-top ($padding/2)
				width 50%
				// display block
		&:hover
			.image
				display block

[page-type=model]
	#container
		padding 0
	h1
		z-index 5
		+above($md + 1)
			align(vertical)
			left $padding
		+below($md)
			padding ($padding/2)
	.slider
		z-index 10
		.content.image
			+above($md + 1)
				&.small
					padding 17.5% 0

#model-infos
	font-size 1rem
	line-height 1
	z-index 100
	+above($md + 1)
		align(vertical)
		position fixed
		left 70%
	+below($md)
		span(1)
		padding ($padding/2)
	.info-item
		display flex
		min-height 1em
		div
			flex 0 0 auto
		div:first-child
			flex 0 0 8rem

#models-list
	font-size 1rem
	line-height 1
	display flex
	flex-wrap wrap
	position fixed
	z-index 300
	bottom $padding
	left $padding
	width 65%
	+below($md)
		display none
	a
		margin-right 1em

[page-type=models]
	#container
		+above($md + 1)
			padding 0
		+below($md)
			padding 0 20%
	h1
		align()
		position fixed
		width 100%
		white-space nowrap
		text-align center
		z-index 0
		+below($md)
			z-index 15
			pointer-events none
		&:hover
			z-index 15
	#left, #right
		span(1/2)
		position relative
		z-index 10
		pointer-events none
		+above($md + 1)
			padding 0 9.1%
		+below($md)
			width 100%
	.model-item
		pointer-events auto
		a
			cursor url('../../images/pointer.png') 16 16, auto
		.title
			display none
	#left
		+above($md + 1)
			margin-top -48.2vh
		.model-item
			margin-bottom 11rem
			+below($md)
				margin-bottom 4rem
	#right
		position fixed
		top 0
		left 50%
		height 100%
		overflow hidden
		+below($md)
			display none
		.content
			transform translateY(-90%) translateZ(0)
		.model-item
			margin-bottom 15rem
