.slider
	height 100vh
	hideselect()
	.slide
		height 100%
		margin-right 15rem
		z-index 10
		&:first-child
			z-index 0
		.content
			height 100%
	.flickity-prev-next-button
		top 0
		height 100%
		width 50%
		margin-top 0
		background transparent
		padding 0
		transform none
		border none
		border-radius 0
		z-index 10
		+below($md)
			display none
		svg
			display none
		&.previous
			left 0
		&.next
			right 0
		&[disabled]
			display none
		&:focus
			box-shadow none
			outline none