webfont("THC","THCCondensedRegular")

html
	font-size 1vmax

body
	font-family 'THC', Helvetica Neue, Arial, sans-serif
	font-size 11rem
	text-rendering optimizeLegibility
	font-smoothing()
	color $secondary
	line-height 0.85
	text-transform uppercase

p
	margin-bottom 1em
	line-height 0.85

p:last-child
	margin-bottom 0