webfont("THC","THCCondensedRegular")

html
	font-size 10px

body
	font-family 'THC', Helvetica Neue, Arial, sans-serif
	font-size 1rem
	text-rendering optimizeLegibility
	font-smoothing()

p
	margin-bottom 1em
	line-height 1

p:last-child
	margin-bottom 0